<div class="nav-bar d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm" >
   <!-- <p-menu #menu [popup]="true" [model]="items"></p-menu>
    <button class="boton"type="button" pButton icon="pi pi-bars" (click)="menu.toggle($event)"></button>-->
    <a routerLink="/"><img src="../../assets/engranes.png" width="80px"></a>
    <h5 class="my-0 mr-md-auto font-weight-normal">DesemEndi</h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <img class="imagens" src="../../assets/iniciar.png" width="50px" height= "50px" routerLink="/login-usuario" style="cursor:pointer;" >
          <a class="p-2 text-dark" routerLink="/usuario"><b style="color: rgb(255, 255, 255);">Iniciar</b></a>
        </nav>
</div>