<div class="p-3 mb-2 bg-primary text-white">
    <div class="container row">
     
    <div class="texto">
      <a routerLink="/"><img src="../../assets/engranes.png" width="140px" height= "100px" > </a>
        <p class="text-muted">All Rights Reserved @desemindi.com</p>
        <p class="text-muted">26 W 17th St. New York, NY 10011,USA</p>
    </div>
    
  </div>
  <div class="texto">
    <h5><b>Redes Sociales</b></h5>
    
    <a class="text-muted" href="https://www.facebook.com/PRINTES.CENTRO.DE.IMPRESION/?epa=SEARCH_BOX" target="_blank"><p class="links text-muted">
      <img class="imagens" src="../../assets/logoface.png" width="50px" height= "50px" ><b>Facebook</b></p></a>
</div>
  </div>
