<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Gracias Por Registrarte</h3>
  
        <div class="formGroup" *ngIf="authService.userData as user">
          <p class="text-center">Se a enviado un correo de confirmacion a <strong>{{user.email}}</strong>.</p>
          <p class="text-center">Favor de checar su correo y dar clic en el link para verificar su email</p>
        </div>
        
        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="formGroup">
          <button type="button" class="btn btnPrimary" (click)="authService.SendVerificationMail()">
            <i class="fas fa-redo-alt"></i>
            Reenviar verificacion.
          </button>
        </div>
  
      </div>
  
      <div class="redirectToLogin">
        <span>¿Volver a?<span class="redirect" routerLink="/iniciar-sesion"> Iniciar Sesion</span></span>
      </div>
  
    </div>
  </div>