<div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>Registrarse</h3>
  
        <div class="formGroup">
          <input type="email" class="formControl" placeholder="Correo" #userEmail required>
        </div>
  
        <div class="formGroup">
          <input type="password" class="formControl" placeholder="Contraseña" #userPwd required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="Registrarse" (click)="authService.SignUp(userEmail.value, userPwd.value)">
        </div>
  
        <div class="formGroup">
          <span class="or"><span class="orInner">O</span></span>
        </div>
  
        <!-- Continue with Google -->
        <div class="formGroup">
          <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
            <i class="fab fa-google-plus-g"></i>
            Registro mediante Google
          </button>
        </div>
      </div>
  
      <div class="redirectToLogin">
        <span>¿Ya tienes una cuenta? <span class="redirect" routerLink="/iniciar-sesion">Iniciar Sesion</span></span>
      </div>
    </div>
  
  </div>