
  
<div class="container-fluid ">
  <div class="row">
    <!-- Sidebar navigation -->
 
   <!-- Sidebar navigation -->
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" routerLink="pantalla-principal">
              <span data-feather="home"></span>
              Pantalla Principal 
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="metas-pendientes">
              <span data-feather="file"></span>
              Metas Pendientes
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="metas-cumplidas">
              <span data-feather="shopping-cart"></span>
              Metas Cumplidas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="crear-meta">
              <span data-feather="users"></span>
              Crear Meta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="evolucion-metas">
              <span data-feather="users"></span>
              Evolucion Meta
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="aprobar-meta">
              <span data-feather="bar-chart-2"></span>
              Aprobar Metas
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="calendario">
              <span data-feather="layers"></span>
              Calendario
            </a>
          </li>
        </ul>

        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Reportes De Metas</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="semana-actual">
              <span data-feather="file-text"></span>
              Semana actual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="mes-actual">
              <span data-feather="file-text"></span>
              Mes Actual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="ano-actual">
              <span data-feather="file-text"></span>
              Año actual
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="historial-completo">
              <span data-feather="file-text"></span>
              Historial Completo
            </a>
          </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Opciones</span>
          <a class="d-flex align-items-center text-muted" href="#">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="administrar-cuenta">
              <span data-feather="file-text"></span>
              Administrar cuenta
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2" >
          <li class="nav-item" >
            <a class="nav-link" routerLink="mi-perfil">
              <span data-feather="file-text" ></span>
              Mi Perfil
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2" >
          <li class="nav-item" >
            <a class="nav-link" routerLink="equipo">
              <span data-feather="file-text" ></span>
              Equipo
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2" >
          <li class="nav-item" >
            <a class="nav-link" routerLink="invitar-miembros">
              <span data-feather="file-text" ></span>
              Invitar Miembros
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2" >
          <li class="nav-item" >
            <a class="nav-link" routerLink="crear-proyecto">
              <span data-feather="file-text" ></span>
              Crear proyecto
            </a>
          </li>
        </ul>
        <ul class="nav flex-column mb-2" >
          <li class="nav-item" >
            <a class="nav-link" (click)="authService.SignOut()">
              <span data-feather="file-text" ></span>
              Cerrar Sesion
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>