<div class="container">
    <h1 style="margin-top: 25px;">
        {{title}}
    </h1>

    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">Nombre</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="nombre_meta" placeholder="Nombre Meta">
            </div>
        </div>
        <div class="col">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="email">
            </div>
        </div>

        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="proyectos">Proyecto</label>
                </div>
                <select class="custom-select" #selectProyecto [(ngModel)]="proyectos" (change)="cambioProyecto(selectProyecto.value)" name="proyectos" id="selectProyecto">
                <option *ngFor="let proy of proyectos" [value]="proy.idP">
                  {{proy.nombreP}}
                </option>
              </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">Valor inicial</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="valor_inicial" placeholder="Valor Inicial">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="medicion" [(ngModel)]="medicion">Medicion</label>
                </div>
                <select class="custom-select" name="medicion" id="medicion">
                  <option value="unidad">Unidad</option>
                  <option value="porcentaje">Porcentaje</option>
              </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="logro" [(ngModel)]="logro">Se desea</label>
                </div>
                <select class="custom-select" name="logro" id="logro">
                    <option value="aumentar">Aumentar</option>
                    <option value="disminuir">Disminuir</option>
              </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="frecuencias" [(ngModel)]="frecuencia">Frecuencia</label>
                </div>
                <select class="custom-select" name="frecuencias" id="frecuencias">
                <option value="bimestre">Bimestre</option>
                <option value="semestre">Semestre</option>
                <option value="ano">Año</option>
              </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <button type="button" (click)="CreateRecord()" [disabled]="!nombre_meta" class="btn btn-primary">+Añadir Evolucion</button>
        </div>
    </div>
    <!--Evolucion-->
    <div class="card" style="width: 18rem;" [(ngModel)]="metas" *ngFor="let item of metas">
        <div class="card-body">
            <h5 class="card-title">{{item.nombreM}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Age: {{item.email}} Years</h6>
            <p class="card-text">Address: {{item.email}}</p>

            <button class="card-link" (click)="RemoveRecord(item.id)">Delete</button>
        </div>
    </div>

    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <button type="button" (click)="CreateRecord()" [disabled]="!nombre_meta" class="btn btn-primary">+Crear Meta</button>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-4">
            <div class="card" style="width: 18rem;" *ngFor="let item of metas">
                <div class="card-body">
                    <h5 class="card-title">{{item.nombre}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Age: {{item.email}} Years</h6>
                    <p class="card-text">Address: {{item.email}}</p>

                    <button class="card-link" (click)="RemoveRecord(item.id)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>