<div class="container">
    <h1 style="margin-top: 25px;">
        {{title}}
    </h1>

    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">Nombre</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="nombre_meta" placeholder="Nombre Meta">
            </div>
        </div>
        <div class="col">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">@</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="email" placeholder="email">
            </div>
        </div>

        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="proyectos">Proyecto</label>
                </div>
                <select class="custom-select" #selectProyecto (change)="cambioProyecto(selectProyecto.value)" (click)="mostrarMetas()" name="proyectos" id="selectProyecto">
                  <option></option>
                <option *ngFor="let proy of proyectos" [value]="proy.idP">
                  {{proy.nombreP}}
                </option>
              </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="addon-wrapping">Valor inicial</span>
                </div>
                <input type="text" class="form-control" [(ngModel)]="valor_inicial" placeholder="Valor Inicial">
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="medicion">Medicion</label>
                </div>
                <select class="custom-select" #selectMedicion (change)="cambioMedicion(selectMedicion.value)" name="medicion" id="medicion">
                  <option></option>
                  <option *ngFor="let med of medicion" [value]="med">
                    {{med}}
                  </option>
              </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="logro">Se desea</label>
                </div>
                <select class="custom-select" #selectLogro (change)="cambioLogro(selectLogro.value)" name="logro" id="logro">
                  <option></option>
                    <option *ngFor="let logro of logros" [value]="logro">
                      {{logro}}
                    </option>
              </select>
            </div>
        </div>
        <div class="col">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="frecuencias">Frecuencia</label>
                </div>
                <select class="custom-select" #selectFrecuencia (change)="cambioFrecuencia(selectFrecuencia.value)" name="frecuencias" id="frecuencias">
                  <option></option>
                <option *ngFor="let frec of frecuencias" [value]="frec">
                  {{frec}}
                </option>
              </select>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <button type="button" (click)="CreateRecord()" [disabled]="!nombre_meta" class="btn btn-primary">+Añadir Evolucion</button>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col">
            <button type="button" (click)="CreateRecord()" [disabled]="!nombre_meta" class="btn btn-primary">+Crear Meta</button>
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        <div class="col-4">
            <div class="card" style="width: 18rem;" *ngFor="let item of metas">
                <div class="card-body">
                    <h5 class="card-title">{{item.nombreM}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Email: {{item.emailM}}</h6>
                    <p class="card-text">Valor Inicial: {{item.valorInicialM}}</p>
                    <p class="card-text">Medicion: {{item.medicionM}}</p>
                    <p class="card-text">Logro: {{item.logroM}}</p>
                    <p class="card-text">Frecuencia: {{item.frecuenciaM}}</p>
                    <button type="button" class="card-link" (click)="RemoveRecord(item.idM)">-Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>